$layout-breakpoint-large: 920px;
$layout-breakpoint-extralarge: 1200px;

@import url('https://fonts.googleapis.com/css2?family=Arima:wght@600&display=swap');


.title{
    font-family: 'Arima', cursive;
    font-weight: 600;
    font-size: 40px;
}
.chart-container{
  margin-top:120px;
  margin-bottom:50px;
}

.chartStyle {
    margin:0 auto;
    max-height:600px;
    max-width:900px;
    margin-top:70px;
  };

.img--chart{
    width:700px;
    margin:30px auto;
    border-radius: 7px;
    margin-bottom:40px;
}
.chart--paragraph{
    width: 70%;
    margin:15px auto;
    text-align:left;
    font-size:18px;
}
.today--value{
    font-size: 24px;
}


@media (max-width: $layout-breakpoint-large) {
    .img--chart{
        width:350px;
        margin:25px auto;
    }
    .chart--paragraph{
        width: 80%;
        margin:13px auto;
        
    }
    .chartStyle {
        margin:0 auto;
        max-height:400px;
        max-width:650px;
        margin-top:70px;
      };
}
@media (min-width: $layout-breakpoint-extralarge) {
   
    .chart--paragraph{
        width: 60%;
        margin:13px auto;
    }
} 
    