$layout-breakpoint-small: 920px;

.image--carousel{
    height: 100vh;
    width:100%;
    object-fit: cover;    
}
.home--title{
    text-align: center;
    
}
.description--container{
    margin-top:40px;
    width:100%;
   
}
.description{
    margin:0 auto;
    width: 65%;
    text-align: left;
}
@media (max-width: $layout-breakpoint-small) {
    .description{
        margin:0 auto;
        width: 85%;
        text-align: left;
    }
    .image--carousel{
        height: 85vh;    
    }
}

