$layout-breakpoint-large: 920px;
.nav--container{
    padding:9px;
}
.nav--title{
    font-size:20px;
    margin-left:20px;
}

.nav--page{
    font-size:18px;
    &:hover{
        transition: transform .2s;
        transform: scale(0.95)
    }
}
@media (max-width: $layout-breakpoint-large) {
    .nav--container{
        padding:6px;
    }
}
